*.class
/nbproject/private
/build
/dist
# Package Files #
*.war
*.ear
/ContainingSimulator/nbproject/private/
/ContainingController/nbproject/private/
/ContainingController/build/
/ContainingController/dist/
/ContainingSimulator/build/
*.dylib
*.jnilib
/ContainingSimulator/dist/