*.class

# Package Files #
*.jar
*.war
*.ear
/Containing/nbproject/private/
/ContainingController/nbproject/private/
/ContainingController/build/
/ContainingController/dist/
/Containing/build/
/ContainingController/nbproject/
/Containing/nbproject/
*.dylib
*.jnilib
Containing/nbproject/genfiles.properties

Containing/nbproject/project.properties
