*.class

# Package Files #
*.jar
*.war
*.ear
/ContainingSimulator/nbproject/private/
/ContainingController/nbproject/private/
/ContainingController/build/
/ContainingController/dist/
/ContainingSimulator/build/
*.dylib
*.jnilib
